.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}

.footer-bawah {
    margin-bottom: -27px;
}

.footer {
    margin-bottom: 110px;
}

.footer-produk {
    margin-bottom: 30px;
}

.footer-login {
    margin-bottom: 230px;
}

.footer-regis {
    margin-bottom: 130px;
}

.footer-categories {
    margin-bottom: 400px;
}

.footer-post {
    margin-bottom: 200px;
}


.navbar-brand {
    
        position: relative;
        background: url(/img/logo2.png);
        width: 80px;
        height: 75px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    
    
}